<a href="https://colab.research.google.com/github/caoimheburke/AMA3022_W_B/blob/main/AllState_Initial_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Initial work carried out when analysing the original data set:
* Took findings from this and modified the Excel spreadsheet entirely, to use a clean data file for all analysis.

In [ ]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd 
import seaborn as sns
from datetime import date

from google.colab import files
uploaded = files.upload()

Saving bbike_journey_level_2020_2021.csv to bbike_journey_level_2020_2021.csv

In [ ]:
column_names = ["bike_number",	"station_from",	"station_to",	"time_from",	"time_to",	"trip_time_mins",	"date"]
bbikes_df= pd.read_csv("./bbike_journey_level_2020_2021.csv", names=column_names)

print(bbikes_df)

        bike_number                       station_from  \
0       bike_number                       station_from
1             82828  Linenhall / Donegall Square South
2             82828                        Stranmillis
3             82828           Gasworks (Cromac Street)
4             82828           Gasworks (Lagan Towpath)
...             ...                                ...
111423       830448                     Botanic Avenue
111424       830448  Arthur Street / Chichester Street
111425       830448                 Corporation Square
111426       830448                           Bankmore
111427       830448                     Botanic Avenue

                               station_to                   time_from  \
0                              station_to                   time_from
1                             Stranmillis  2020-01-01 14:28:47.706092
2                Gasworks (Cromac Street)  2020-01-01 16:32:47.601968
3                Gasworks (Lagan Towpath)  2020-01-02 10:17:47.225784
4                Gasworks (Cromac Street)  2020-01-02 10:28:47.634530
...                                   ...                         ...
111423  Arthur Street / Chichester Street  2021-05-02 11:13:47.282251
111424                 Corporation Square  2021-05-02 12:17:47.415142
111425                           Bankmore  2021-05-02 12:41:48.369254
111426                     Botanic Avenue  2021-05-02 22:44:47.931458
111427                        Ormeau Park  2021-05-03 17:58:47.222819

                           time_to      trip_time_mins        date
0                          time_to      trip_time_mins        date
1       2020-01-01 14:51:47.412459  22.995106116666665  2020-01-01
2       2020-01-01 16:47:47.261957         14.99433315  2020-01-01
3       2020-01-02 10:19:47.686033   2.007670816666667  2020-01-02
4       2020-01-02 10:29:47.516049  0.9980253166666668  2020-01-02
...                            ...                 ...         ...
111423  2021-05-02 11:23:48.247772  10.016092016666667  2021-05-02
111424  2021-05-02 12:26:47.322044   8.998448366666667  2021-05-02
111425  2021-05-02 12:54:47.936410  12.992785933333336  2021-05-02
111426  2021-05-02 23:13:47.074001  28.985709050000004  2021-05-02
111427  2021-05-03 18:09:47.270493  11.000794566666665  2021-05-03

[111428 rows x 7 columns]

In [ ]:
#checking for any missingness 

print(bbikes_df.count())
print(bbikes_df.isnull().sum())

bike_number       111428
station_from      111428
station_to        111428
time_from         111428
time_to           111428
trip_time_mins    111428
date              111428
dtype: int64
bike_number       0
station_from      0
station_to        0
time_from         0
time_to           0
trip_time_mins    0
date              0
dtype: int64

In [ ]:
bbikes_df.describe()

,bike_number,station_from,station_to,time_from,time_to,trip_time_mins,date
count,111428,111428,111428,111428,111428,111428,111428
unique,629,60,61,75869,73121,91695,393
top,83069,Titanic Belfast Met,Titanic Belfast Met,2020-11-25 13:19:45.529903,2020-09-29 20:20:47.839419,462.79608981666667,2021-04-02
freq,2330,6753,6750,56,64,42,2006

At this initial stage we dropped anomalies via Python, but as we found more, we found it was better to remove them all from the original Excel file. 

So below was initally us removing incorrect station names but after this inital data process we went and modified the excel file entirely to have a brand new clean excel file.

In [ ]:
# Dropping Station Names that were incorrect 

bbikes_drop_df = bbikes_df.drop([48318,48319, 64165,64166, 80791,80792, 34671, 101362, 101361,
                                 71354,71355, 6103,6102, 28019,28018, 96095,96094, 29919,29918, 74997,95443])
print(bbikes_drop_df)
#delete selected rows and print first 10
# 2 sets of rows for each station for to and from
# 29918, 29919   = next bike IT
# 48318, 48319   = 3908
# 64166, 64165   = ???
# 80792, 80791   = 30m from Titanic
# 34671          = co-ordinates 54.585.., -5.95.. (only had one station)
# 101361, 101362 = Botanic Gdns
# 71354, 71355   = Royal
# 6102, 6103     = Royal Ave  
# 96094, 96095   = Lombard Street 13
# 28018, 28019   = Lough Lea Belfast
# 95443, 74997   = Weavers place

        bike_number                       station_from  \
0       bike_number                       station_from
1             82828  Linenhall / Donegall Square South
2             82828                        Stranmillis
3             82828           Gasworks (Cromac Street)
4             82828           Gasworks (Lagan Towpath)
...             ...                                ...
111423       830448                     Botanic Avenue
111424       830448  Arthur Street / Chichester Street
111425       830448                 Corporation Square
111426       830448                           Bankmore
111427       830448                     Botanic Avenue

                               station_to                   time_from  \
0                              station_to                   time_from
1                             Stranmillis  2020-01-01 14:28:47.706092
2                Gasworks (Cromac Street)  2020-01-01 16:32:47.601968
3                Gasworks (Lagan Towpath)  2020-01-02 10:17:47.225784
4                Gasworks (Cromac Street)  2020-01-02 10:28:47.634530
...                                   ...                         ...
111423  Arthur Street / Chichester Street  2021-05-02 11:13:47.282251
111424                 Corporation Square  2021-05-02 12:17:47.415142
111425                           Bankmore  2021-05-02 12:41:48.369254
111426                     Botanic Avenue  2021-05-02 22:44:47.931458
111427                        Ormeau Park  2021-05-03 17:58:47.222819

                           time_to      trip_time_mins        date
0                          time_to      trip_time_mins        date
1       2020-01-01 14:51:47.412459  22.995106116666665  2020-01-01
2       2020-01-01 16:47:47.261957         14.99433315  2020-01-01
3       2020-01-02 10:19:47.686033   2.007670816666667  2020-01-02
4       2020-01-02 10:29:47.516049  0.9980253166666668  2020-01-02
...                            ...                 ...         ...
111423  2021-05-02 11:23:48.247772  10.016092016666667  2021-05-02
111424  2021-05-02 12:26:47.322044   8.998448366666667  2021-05-02
111425  2021-05-02 12:54:47.936410  12.992785933333336  2021-05-02
111426  2021-05-02 23:13:47.074001  28.985709050000004  2021-05-02
111427  2021-05-03 18:09:47.270493  11.000794566666665  2021-05-03

[111407 rows x 7 columns]

In [ ]:
# Will not run on my Colab but ran on Zoe's jupyter notebook so made note of values here 
# percentiles found for trip time anomalies 

#print(np.percentile(bbikes_drop_df['trip_time_mins'], 95))       = 188.735682175
#print(np.percentile(bbikes_drop_df['trip_time_mins'], 5))        = 0.9963638875